.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1d232e;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(194, 169, 169);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel-item {
  width: 100%;
  height: 500px; /* adjust height */
  overflow: hidden;
  border-radius: 20px;
}

.carousel-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
 
  display: block;
}

.card {
  border-radius: 12px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

.product_img{
  object-fit: contain;
  width: 100%;
  height: 200px;
}
.product-card {
  transition: 0.3s ease-in-out;
  border-radius: 12px;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.product-img {
  height: 220px;
  object-fit: cover;
}
.carousel-img {
  width: 100%;
  height: 450px;       /* adjust if needed */
  object-fit: cover;   /* key fix */
}